name: pyf-check

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: hexlet-code

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install uv
          # Выполнит make install внутри hexlet-code
          make install

      - name: Run linter
        run: make lint

      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v5.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          workingDirectory: hexlet-code
          coverageCommand: make test-coverage
          debug: true