name: pyf-check

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        working-directory: hexlet-code
        run: |
          pip install uv
          make install

      - name: Run linter
        working-directory: hexlet-code
        run: make lint

      - name: Run tests
        working-directory: hexlet-code
        run: make test